.btn-alunos-container {
  display: flex;
}

.btn-pesquisar-aluno-container {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.btn-pesquisar-aluno {
  background-color: var(--azul) !important;
  color: var(--cinza) !important;
  border: none;
  border-radius: .2rem;
  text-transform: uppercase;
  padding: .3rem 1.2rem;
  font-weight: bold;
  font-size: 1rem;
  transition: all .1s linear;
}

.btn-pesquisar-aluno:hover {
  background-color: var(--cinza) !important;
  color: var(--azul) !important;
  transition: all .1s linear;
}

.btn-cadastrar-aluno-container {
  display: flex;
  align-items: center;
}

.btn-cadastrar-aluno {
  background-color: var(--azul) !important;
  color: var(--cinza) !important;
  border: none;
  border-radius: .2rem;
  text-transform: uppercase;
  padding: .3rem 1.2rem;
  font-weight: bold;
  font-size: 1rem;
  transition: all .1s linear;
}

.btn-cadastrar-aluno:hover {
  background-color: var(--cinza) !important;
  color: var(--azul) !important;
  transition: all .1s linear;
}