.pesquisar-container {
  display: flex;
  background-color: #fff;
  padding: 1rem;
  width: fit-content;
  border-radius: .2rem;
}

.pesquisar-container input,
.pesquisar-container select {
  margin: .6rem 0;
  margin-right: 1rem;
  padding: .3rem 1.2rem;
  border: 1px solid var(--cinza);
  transition: all .1s linear;
}

.pesquisar-container input:hover,
select:hover {
  background-color: var(--cinza-claro);
  transition: all .1s linear;
}

.btn-entrar {
  width: 100%;
  color: var(--cinza) !important;
  background-color: var(--azul) !important;
  border: none;
  border-radius: .2rem;
  padding: 10px 0;
  font-weight: bold !important;
  margin-bottom: 2rem;
  transition: all .1s linear;
}

.btn-entrar:hover {
  background-color: var(--cinza) !important;
  color: var(--azul) !important;
  transition: all .1s linear;
}

.btn-cadastrar-container {
  display: flex;
  align-items: center;
}

.btn-container {
  display: flex;
  align-items: center;
}

.btn-esqueci-container {
  display: flex;
  justify-content: space-between;
}

.btn-pesquisar-container {
  display: flex;
  align-items: center;
}

.btn-pesquisar {
  background-color: var(--azul) !important;
  color: var(--cinza) !important;
  border: none;
  border-radius: .2rem;
  padding: .3rem 1.2rem;
  font-size: 1rem;
  transition: all .1s linear;
}

.btn-pesquisar:hover {
  background-color: var(--cinza) !important;
  color: var(--azul) !important;
  transition: all .1s linear;
}

.btn-card-container {
  display: flex;
  justify-content: flex-end;
}

.btn-emprestar-card {
  background-color: var(--cinza) !important;
  color: var(--azul) !important;
  border: none;
  border-radius: .2rem;
  padding: .3rem 1.2rem;
  transition: all .1s linear;
  margin-right: 1rem;
}

.btn-emprestar-card:hover {
  background-color: var(--cinza-escuro) !important;
  color: var(--azul) !important;
  transition: all .1s linear;
}

.btn-editar-card {
  background-color: var(--cinza) !important;
  color: var(--azul) !important;
  border: none;
  border-radius: .2rem;
  padding: .3rem 1.2rem;
  transition: all .1s linear;
  margin-right: 1rem;
}

.btn-editar-card:hover {
  background-color: var(--cinza-escuro) !important;
  color: var(--azul) !important;
  transition: all .1s linear;
}

.btn-excluir-card {
  background-color: var(--cinza) !important;
  color: var(--azul) !important;
  border: none;
  border-radius: .2rem;
  padding: .3rem 1.2rem;
  transition: all .1s linear;
}

.btn-excluir-card:hover {
  background-color: var(--vermelho) !important;
  color: var(--cinza) !important;
  transition: all .1s linear;
}

.btn-devolver-card {
  background-color: var(--cinza) !important;
  color: var(--azul) !important;
  border: none;
  border-radius: .2rem;
  padding: .3rem 1.2rem;
  transition: all .1s linear;
}

.btn-devolver-card:hover {
  background-color: var(--cinza-escuro) !important;
  color: var(--azul) !important;
  transition: all .1s linear;
}

.btn-voltar-home {
  background-color: var(--azul) !important;
  color: var(--cinza) !important;
  border: none;
  border-radius: .2rem;
  text-transform: uppercase;
  padding: .3rem 1.2rem;
  transition: all .1s linear;
  margin: 1rem;
}

.btn-voltar-home:hover {
  background-color: var(--cinza-escuro) !important;
  color: var(--azul) !important;
  transition: all .1s linear;
}

.btn-voltar-login {
  background-color: var(--azul) !important;
  color: var(--cinza) !important;
  border: none;
  border-radius: .2rem;
  text-transform: uppercase;
  padding: .3rem 1.2rem;
  transition: all .1s linear;
}

.btn-voltar-login:hover {
  background-color: var(--cinza-escuro) !important;
  color: var(--azul) !important;
  transition: all .1s linear;
}

.btn-avancar {
  width: fit-content;
  color: var(--cinza) !important;
  background-color: var(--azul) !important;
  border: none;
  border-radius: .2rem;
  padding: .3rem 1.2rem;
  font-weight: bold !important;
  margin-bottom: 1.5rem;
  transition: all .1s linear;
}

.btn-avancar:hover {
  background-color: var(--cinza) !important;
  color: var(--azul) !important;
  transition: all .1s linear;
}

.fa-pen,
.fa-trash {
    margin-right: .5rem;
}