.card-home-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cards .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #fff;
  padding: 1rem 1.5rem;
  border-radius: .2rem;
  margin-left: 2rem;
  box-shadow: rgb(0 0 0 / 8%) 1px 1px 10px;
  transition: all .1s linear;
}

.cards .card:hover {
  transform: translateY(2rem);
  transition: all .1s linear;
}

.cards .card:first-child {
  margin-left: 0;
}

.cards .card img {
  width: 100%;
}

.cards .card h1 {
  font-size: 1rem;
  margin: 1rem 0;
}

.btn-card-home {
  background-color: var(--azul) !important;
  color: var(--cinza) !important;
  border: none;
  border-radius: .2rem;
  text-transform: uppercase;
  padding: .3rem 1.2rem;
  font-weight: bold;
  transition: all .1s linear;
}

.btn-card-home:hover {
  background-color: var(--cinza) !important;
  color: var(--azul) !important;
  transition: all .1s linear;
}