#card-book-container {
    display: flex;
    justify-content: center;
    text-decoration: none !important;
    color: #000 !important;
}

.card-book{
    width: 80%;
    margin-bottom: 1rem;
    background-color: #fff;
    padding: 1rem;
    border-radius: .2rem;
    box-shadow: rgb(0 0 0 / 8%) 1px 1px 10px;
    transition: all .1s linear;
}

.titulo-card{
    font-size: 1rem;
    font-weight: bold;
}

.p-card-book{
    font-size: .8rem;
}

.btn-card-book-container {
    display: flex;
    justify-content: flex-end;
}

.btn-card-book {
    background-color: var(--azul) !important;
    color: var(--cinza) !important;
    border: none;
    border-radius: .2rem;
    text-transform: uppercase;
    padding: .3rem 1.2rem;
    font-weight: bold;
    transition: all .1s linear;
}

.btn-card-book:hover {
    background-color: var(--cinza) !important;
    color: var(--azul) !important;
    transition: all .1s linear;
}