.cards-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card-main {
  background-color: #fff;
  padding: 1rem;
  border: 1px solid var(--cinza-escuro);
  border-radius: .2rem;
}

.titulo-card-main {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--azul);
}

.info-card-main {
  font-size: .9rem;
}

#card-main-container {
  margin-bottom: 1rem;
  animation: surgir-baixo .5s;
}

.p-card-main-ativo{
  color: green;
}

.p-card-main-inativo{
  color: var(--vermelho);
}

@keyframes surgir-baixo {
  from{
    opacity: 0;
    transform: translateY(50%);
  } to{
    opacity: 1;
    transform: translateY(0);
  }
}