.card-main {
  background-color: #fff;
  width: 75vw;
  padding: 1rem;
  border-radius: .2rem;
  /* box-shadow: rgb(0 0 0 / 8%) 1px 1px 10px; */
  margin: 0 auto;
}

.titulo-card-main {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--azul);
  border-radius: .2rem;
}

.info-card-main{
  font-size: .9rem;
}

#card-main-container{
  margin: 1rem;
}