.home-container{
    text-align: center;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home-text{
    margin-top: 10px;
}

.home-title{
    font-size: 1.5rem;
    font-weight: bold;
    color: #192039;
}

#gif-home{
    padding: 0px;
    width: 60%;
}