#book-notFound{
    width: 27vw;
    margin: auto;
    display: block;
}

@media screen and (max-width: 420px) {
    .btn-card-container{
        scale: .8;
    }

    .card-book-main{
        padding: 5px;
    }
}

@media screen and (max-width: 380px) {
    .btn-card-container{
        scale: .7;
    }

    .card-book-main{
        padding: 5px;
    }
}
