.color {
  background-color: var(--cinza);
}

.logo {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.logo img {
  width: 50%;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 8%) 1px 1px 10px;
  padding-top: 30px;
  border-radius: .2rem;
  background-color: #fff;
}

.form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.user,
.password {
  margin-bottom: 2rem;
}

.input-user,
.input-password {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--cinza);
  border-radius: .2rem;
  background-color: transparent;
  color: var(--azul);
  transition: all .1s linear;
}

.input-user:hover,
.input-password:hover {
  background-color: var(--cinza-claro);
  transition: all .1s linear;
}

.input-user::placeholder,
.input-password::placeholder {
  color: var(--cinza-escuro);
}

.forgot-password {
  text-align: center;
  color: var(--azul);
  text-decoration: none;
  margin-bottom: 2rem;
  transition: all .1s linear;
}

.forgot-password:hover {
  text-decoration: underline;
  color: var(--cinza-escuro);
  transition: all .1s linear;
}

.spinner-login {
  display: flex;
  justify-content: center;
}

#loading {
  margin-bottom: 2rem;
}

.footer-container{
  bottom: 0;
  position: absolute;
  width: 100%;
}