.modal-header {
  justify-content: center !important;
  text-transform: uppercase;
}

.btn-cancelar-cadastrar-aluno {
  background-color: var(--cinza) !important;
  color: var(--azul) !important;
  border: none;
  border-radius: .2rem;
  text-transform: uppercase;
  padding: .3rem 1.2rem;
  font-weight: bold;
  font-size: 1rem;
  transition: all .1s linear;
}

.btn-cancelar-cadastrar-aluno:hover {
  background-color: var(--cinza-escuro) !important;
  color: var(--azul) !important;
  transition: all .1s linear;
}

.btn-cadastrar-cadastrar-aluno {
  background-color: var(--azul) !important;
  color: var(--cinza) !important;
  border: none;
  border-radius: .2rem;
  text-transform: uppercase;
  padding: .3rem 1.2rem;
  font-weight: bold;
  font-size: 1rem;
  transition: all .1s linear;
}

.btn-cadastrar-cadastrar-aluno:hover {
  background-color: var(--cinza) !important;
  color: var(--azul) !important;
  transition: all .1s linear;
}