.modal-content {
  border: none !important;
  border-radius: .2rem !important;
}

.input-group-modal {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.input-box-modal {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  width: 70%;
}

.input-box-modal input,
.input-box-modal select {
  margin: .6rem 0;
  padding: .3rem 1.2rem;
  border: 1px solid var(--cinza);
  transition: all .1s linear;
}

.input-box-modal input:hover {
  background-color: var(--cinza-claro);
  transition: all .1s linear;
}

.input-box-modal:last-child {
  margin: 0;
}

.btn-cancelar-modal {
  background-color: var(--cinza) !important;
  color: var(--azul) !important;
  border: none;
  border-radius: .2rem;
  padding: .3rem 1.2rem;
  font-size: 1rem;
  transition: all .1s linear;
}

.btn-cancelar-modal:hover {
  background-color: var(--cinza-escuro) !important;
  color: var(--azul) !important;
  transition: all .1s linear;
}

.btn-cadastrar-modal {
  background-color: var(--azul) !important;
  color: var(--cinza) !important;
  border: none;
  border-radius: .2rem;
  padding: .3rem 1.2rem;
  font-size: 1rem;
  transition: all .1s linear;
}

.btn-cadastrar-modal:hover {
  background-color: var(--cinza) !important;
  color: var(--azul) !important;
  transition: all .1s linear;
}

.btn-editar-modal {
  background-color: var(--azul) !important;
  color: var(--cinza) !important;
  border: none;
  border-radius: .2rem;
  padding: .3rem 1.2rem;
  font-size: 1rem;
  transition: all .1s linear;
}

.btn-editar-modal:hover {
  background-color: var(--cinza) !important;
  color: var(--azul) !important;
  transition: all .1s linear;
}

.btn-excluir-modal {
  background-color: var(--vermelho) !important;
  color: var(--cinza) !important;
  border: none;
  border-radius: .2rem;
  padding: .3rem 1.2rem;
  transition: all .1s linear;
}

.btn-excluir-modal:hover {
  background-color: var(--vermelho-escuro) !important;
  color: var(--cinza) !important;
  transition: all .1s linear;
}