#nav {
  background-color: var(--azul);
  box-shadow: rgb(0 0 0 / 8%) 1px 1px 10px;
  padding: 0;
}

#logo-nav {
  margin-right: 40px;
}

.img-logo-nav {
  width: 100%;
}

.item-nav {
  padding: 1rem !important;
  text-align: center !important;
}

#link-navbar {
  text-decoration: none;
  color: var(--cinza);
}

.item-nav:hover #link-navbar {
  color: #fff !important;
}

.link-navbar-sair {
  color: var(--cinza) !important;
  font-weight: bold;
}

.menu-bars{
  display: none !important;
}

.Navbar{
  display: block !important;
}

@media screen and (max-width: 768px) {
  .Navbar{
    display: none !important;
  }

  .menu-bars{
    display: block !important;
  }
}
