.titulo-pagina {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bold;
}

.area-loading {
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

.pesquisa-container {
    margin: auto;
    background-color: #fff;
    width: 100%;
    width: fit-content;
    padding: 1rem;
    border-radius: .2rem;
    display: flex;
    margin-bottom: 2rem;
    box-shadow: rgb(0 0 0 / 8%) 1px 1px 10px;
}

.pesquisa-container input,
.pesquisa-container select {
    margin: .6rem 0;
    padding: .3rem 1.2rem;
    border: 1px solid var(--cinza);
    margin-right: 1rem;
    transition: all .1s linear;
}

.pesquisa-container input:hover,
.pesquisa-container select:hover {
    background-color: var(--cinza-claro);
    transition: all .1s linear;
}

.btn-pesquisar-container {
    display: flex;
    align-items: center;
}

.btn-pesquisar {
    background-color: var(--azul) !important;
    color: var(--cinza) !important;
    border: none;
    border-radius: .2rem;
    text-transform: uppercase;
    padding: .3rem 1.2rem;
    font-weight: bold;
    font-size: 1rem;
<<<<<<< HEAD
    transition: all .1s linear;
=======
>>>>>>> 3f516ee6b7b749279c999f9476d12c010121d949
}

.btn-pesquisar:hover {
    background-color: var(--cinza) !important;
    color: var(--azul) !important;
<<<<<<< HEAD
    transition: all .1s linear;
=======
>>>>>>> 3f516ee6b7b749279c999f9476d12c010121d949
}

#book-notFound{
    width: 27vw;
    margin: auto;
<<<<<<< HEAD
    display: block;
=======
  display: block;
>>>>>>> 3f516ee6b7b749279c999f9476d12c010121d949
}