#card-main-container-voluntario{
  flex-wrap: wrap;
  width: 24rem;
  margin: auto;
  margin-bottom: 2rem;
  margin-left: 0;
}

@media screen and (max-width: 1200px) {
  #card-main-container-voluntario{
    width: 25rem;
  }
}

@media screen and (max-width: 900px) {
  #card-main-container-voluntario{
    width: 100%;
  }
}