#AreaMessageHome{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#messageHome{
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    color: #192039;
}