#area-card-books{
    padding-top: 10px;
    text-align: center;
    margin: 0 ;
    margin-bottom: 30px;
}

#area-pesquisa{
    width: 100%;
    padding-top: 10px;
    text-align: center;
    margin: 0;
    display: inline-block;
}

#tipo-pesquisa{
    width: 150px;
    margin: 15px;
    display: inline-block;
}

#btn-pesquisa{
    margin: 15px;
    display: inline-block;
    padding: 5px;
}

#input-pesquisa{
    width: 150px;
    margin: 15px;
    display: inline-block;
}

#area-loading{
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 100%;
}
