.Form-control{
    width: 250px !important;
    border: rgb(114, 114, 114) 0.05px solid !important;
}
.Form-control:focus{
    box-shadow: #494949 2px 2px 2px !important;
} /* depois tentar juntar os dois efeitos */
.Form-control:hover{
    box-shadow: #9c9c9c 2px 2px 2px !important;
}

.Form-group{
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
    display: inline-block;
}

#AreaForm-CadastroLivro{
    width: 85vw;
    background-color: #ffff;
    padding: 30px;

    margin: auto;
    margin-bottom: 60px;
    border-radius: 10px;

    align-items: center;
}

#AreaButton-CadastrarLivro{
    margin-top: 10px;
    text-align: end;
}

#FormButton-CadastrarLivro{
    background-color: #192039 !important;
    color: #DFDEDE !important;
}
#FormButton-CadastrarLivro:hover{
    background-color: #DFDEDE !important;
    color: #192039 !important;
}

#Label-CadastroLivro{
    margin-left: 7.5vw;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
}

#AreaFormGroup{
    width: auto;
}