.Form-control{
    width: 250px !important;
    border: rgb(114, 114, 114) 0.05px solid !important;
}
.Form-control:focus{
    box-shadow: #9c9c9c 2px 2px 2px !important;
} /* depois tentar juntar os dois efeitos */
.Form-control:hover{
    box-shadow: #9c9c9c 2px 2px 2px !important;
}


.Form-group{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 40px; 
    display: inline-block;
}

#AreaForm-CadastroLivro{
    width: 90%;
    background-color: #ffff;
    padding: 30px;

    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    border-radius: 10px;
}

#AreaButton-CadastrarLivro{
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    display: inline-block;
}

#FormButton-CadastrarLivro{
    background-color: #192039 !important;
    color: #DFDEDE !important;
}
#FormButton-CadastrarLivro:hover{
    background-color: #DFDEDE !important;
    color: #192039 !important;
}