#card-book{
    width: 25%;
    text-align: left !important;
    display: inline-block;
    margin: 5px;
    background-color: white;
    padding: 8px;
    border-radius: 20px;
}

#titulo-livro{
    font-size: 15px;
    font-weight: bold;
}

.p-card-book{
    font-size: 0.8em;
}